* { box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: none;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    color: orangered;
}

header {
    max-width: 70%;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
}

main {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

 
#startArea, #questionArea {
 max-width: 70%;
 margin-left: 15%;
 margin-right: 15%;
}


.hide {
    display: none;
}

#correctIncorrect {

color: grey;
margin-top: grey;
margin-top: 10px;
}


